.serviceItm {
/*   float: left; */
box-shadow: 0 3px 5px #f4f4f4;
    width: 16.66%;
/*     float: left; */
  border: 1px solid #ece6e6;
  box-sizing:border-box;
  height: 250px;
  margin-bottom: 10%;
  float:left;
}

.servicesIcon{
  
  background-position: center;
  margin-top:45px;
  margin-left:30px;
  margin-right:30px;
  margin-bottom:20px;
  height: 150px;
  background-size: 100% 100%;
}

.servicesIcon:hover{
  transform: scale(1.1);
}

 .serviceItm span{
    padding-top: 20px;
    color: #837872;
    font-weight: 500;
    text-align: center;
    padding-left:60px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.serviceItm > a:hover{
  text-decoration:none;
}

#preschoolIcon{
  background-image: url("../../images/servicesIcon/preschool.png");
}

#primaryIcon{
  background-image: url("../../images/servicesIcon/primary.png");
}

#secondaryIcon{
  background-image: url("../../images/servicesIcon/secondary.png");
}


#collegeIcon{
  background-image: url("../../images/servicesIcon/college.png");
}

#highersecondaryIcon{
  background-image: url("../../images/servicesIcon/plus2.png");
}


#universityIcon{
  background-image: url("../../images/servicesIcon/university.png");
}












