
<header>
		<nav id="header-nav" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="index.html" class="pull-left visible-md visible-lg">
						<div id="logo-img" alt="Logo image"></div>
					</a>

					<div class="navbar-brand">
						<a href="index.html"><h1></h1></a>
					</div>

					<button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
				</div>

				<div id="collapsable-nav" class="collapse navbar-collapse">
					<ul id="nav-list" class="nav navbar-nav navbar-right">
						<li id="navHomeButton" class="visible-all">
							<a href="index.html">
								<i class="fa fa-home" aria-hidden="true"></i> Home</a>
						</li>
						<li  data-toggle="modal" data-target="#myModal">
							<a href="#">
								<i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Login</a>
						</li>
						<li>
							<a ui-sref="signUp">
								<i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;Register</a>
						</li>
						<li>
							<a ui-sref="explore">
								<i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;Explore</a>
						</li>
						<li>
							<span id="socialLinks">
                <a href="#"><i id="SocialIcon" class="fa fa-facebook-square"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-google-plus-official"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-instagram"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-pinterest-square"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-youtube"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-twitter-square"></i></a>

            </sapn>
              </li>
            </ul><!-- #nav-list -->
          </div><!-- .collapse .navbar-collapse -->
        </div><!-- .container -->
      </nav><!-- #header-nav -->
    </header>

<h1>
  Explore is yet to design
</h1>






<!--start footer-->

<footer id="footerClass" class="panel-footer">
      <div class="container">
        <div class="row">
          <p class="copyright guest"><span>NewApp Corporation</span> <em>© 2017</em></p>
            <ul id="footerList">
    	        <li id="footerItem"><a href="http://www.linkedin.com/legal/user-agreement?trk=hb_ft_userag">User Agreement</a></li>
    	        <li id="footerItem"><a href="http://www.linkedin.com/legal/privacy-policy?trk=hb_ft_priv">Privacy Policy</a></li>
    	        <li id="footerItem"><a href="https://linkedin.com/help/linkedin/answer/34593?lang=en">Community Guidelines</a></li>
    	        <li  id="footerItem"><a href="http://www.linkedin.com/legal/cookie-policy?trk=hb_ft_cookie">Cookie Policy</a></li>
    	        <li  id="footerItem"><a href="http://www.linkedin.com/legal/copyright-policy?trk=hb_ft_copy">Copyright Policy</a></li>
    	        <li  id="footerItem"><a href="/psettings/guest-email-unsubscribe?trk=hb_ft_gunsub" rel="nofollow">Unsubscribe</a></li>
            </ul>
        </div>
       </div>
</footer>
<!--end footer-->