.carousel .item {
    background:#FDFEFE;
    overflow:hidden;
    padding:10px;
    border-radius: 5%;
    height: 500px;
}
.carousel-inner > .item {
    float: left;
    padding: 10px;
    height: none;
    width:  100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.carousel-inner >#slide1{
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0,0,0,0.6), 
      rgba(0,0,0,0.6)
    ),
    /* bottom, image */
    url('../../images/sliding_jumbotron/jumbo1.jpg');
  
}

.carousel-inner > #slide2{
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0,0,0,0.6), 
      rgba(0,0,0,0.6)
    ),
    /* bottom, image */
    url('../../images/sliding_jumbotron/jumbo2.jpg');
}

.carousel-inner > #slide3{
  
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0,0,0,0.6), 
      rgba(0,0,0,0.6)
    ),
    /* bottom, image */
    url('../../images/sliding_jumbotron/jumbo3.jpg');
}


.item > h1 {
  opacity: 1;
  font-size:45px;
  padding-left:50px;
  font-family: 'Fjalla One', sans-serif;
  color:#FDFEFE;
  text-transform: capitalize;
  text-shadow: 6px 6px 10px #000;
}

.item > p {
  opacity: 1;
  font-size:30px;
  margin-left:20%;
  font-family: 'Scheherazade', serif;
  color:#FDFEFE;
  text-transform: capitalize;
  text-shadow: 6px 6px 10px #000;
  vertical-align: middle;
}

.item  button {
  vertical-align:middle;
  margin-left:40%;
  margin-top: 10%;
  font-size: 30px;
  background-color: transparent;
    z-index: 1;
  cursor: pointer;
  border-radius:20%;
  shadow: 6px 6px 10px #000;
  font-family: 'Ubuntu', sans-serif;
}

.item a {
  
  color:#FDFEFE; !important;
}

/* Button key strokes */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.item  button:hover{
  color:white;
  border: 0px black solid;
  background-color:#F1948A;
  transition: background-color 1s ease;
  animation: bounce 1s;
}


.item a:hover, .item a:focus {
  text-decoration: none;
}
.glyphicon {
    background-color: #566573  ;
    color: white;
    padding: 60px;
    border-radius: 90%;
}
