<!-- <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <strong>Email Address</strong>
            <input type="text" ng-model="newUser.email" class="form-controll">Email Address</input>
        </div>
        <div class="row">
            <strong>Password</strong>
            <input type="text" ng-model="newUser.password" class="form-controll"></input>
        </div>
        <button ng-click="createUser()">Submit</button>
    </div>
</div>
 -->


<header>
		<nav id="header-nav" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="index.html" class="pull-left visible-md visible-lg">
						<div id="logo-img" alt="Logo image"></div>
					</a>

					<div class="navbar-brand">
						<a href="index.html"><h1></h1></a>
					</div>

					<button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
				</div>

				<div id="collapsable-nav" class="collapse navbar-collapse">
					<ul id="nav-list" class="nav navbar-nav navbar-right">
						<li id="navHomeButton" class="visible-all">
							<a href="index.html">
								<i class="fa fa-home" aria-hidden="true"></i> Home</a>
						</li>
						<li  data-toggle="modal" data-target="#myModal">
							<a href="#">
								<i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Login</a>
						</li>
						<li>
							<a ui-sref="signUp">
								<i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;Register</a>
						</li>
						<li>
							<a ui-sref="explore">
								<i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;Explore</a>
						</li>
						<li>
							<span id="socialLinks">
                <a href="#"><i id="SocialIcon" class="fa fa-facebook-square"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-google-plus-official"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-instagram"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-pinterest-square"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-youtube"></i></a>
                <a href="#"><i id="SocialIcon" class="fa fa-twitter-square"></i></a>

            </sapn>
              </li>
            </ul><!-- #nav-list -->
          </div><!-- .collapse .navbar-collapse -->
        </div><!-- .container -->
      </nav><!-- #header-nav -->
    </header>



<body ng-controller="RegistrationController as reg">
  <div id="signupDiv" >
    <div class="containar col-sm-offset-4">
      <fieldset>
      <form id="signupForm" name="regForm" class="reg-form" method="post" novalidate>
      
        <div class="form-group">
          <label for="password">User Name</label>
           <input type="text" name="username" class="form-control" placeholder="username" ng-model="reg.user.username"
               required minlength="4" ng-maxlength="10">
        <span id="error" ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched">
          username must be atleast 4 characters long
        </span>
        <span id="error" ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
          username must not be longer than 10 characters
        </span>
        </div>
      
        <div class="form-group">  
          <label for="password">Email</label>
        <input type="text" name="email" class="form-control" placeholder="Email" ng-model="reg.user.email" required>
        <span id="error" ng-if="regForm.email.$invalid && regForm.email.$touched">
          must have a valid email address: abc@xyz.com
        </span>
        </div>
        
        <div class="form-group">
          <label for="password">Phone</label>
          <input type="text" name="phone" class="form-control" placeholder="Phone Number" ng-model="reg.user.phone"
               pattern="(\d{3})-(\d{3})-(\d{4})" required>
          <span id="error" ng-if="regForm.phone.$invalid && regForm.phone.$touched">phone number must be in the format: 123-123-1234</span>
<!--           swal("phone number must be in the format: 123-123-1234") -->
          
        </div>
        
        <div class="form-group">
            <label for="password"> New Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="new password" ng-model="reg.user.password" required />
            <span id="error" ng-if="regForm.password.$invalid && regForm.password.$touched">Password is required</span>
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" name="password2" id="password2" class="form-control"  placeholder="same password" ng-model="reg.user.password2" ng-match="password1" required />
            <span id="error" ng-if="regForm.password2.$invalid && regForm.password2.$touched">Password is required</span>
<!--             <span ng-if="(regForm.password2.$invalid && regForm.password2.$touched">Password Did not matched!</span> -->
        </div>
        
        <div class="form-group">
          <span class="agreement"> By clicking the below line you will be agree to our user policy</span>
        </div>
        
        <button id="registration-submit" type="submit" ng-disabled="regForm.$invalid" ng-click="reg.createUser()">
          Join Now
        </button>
                
      </form>
    </fieldset>
    </div>
  </div>
  
  
  
<!--start footer-->
<footer id="footerClass" class="panel-footer">
      <div class="container">
        <div class="row">
          <p class="copyright guest"><span>NewApp Corporation</span> <em>© 2017</em></p>
            <ul id="footerList">
    	        <li id="footerItem"><a href="http://www.linkedin.com/legal/user-agreement?trk=hb_ft_userag">User Agreement</a></li>
    	        <li id="footerItem"><a href="http://www.linkedin.com/legal/privacy-policy?trk=hb_ft_priv">Privacy Policy</a></li>
    	        <li id="footerItem"><a href="https://linkedin.com/help/linkedin/answer/34593?lang=en">Community Guidelines</a></li>
    	        <li  id="footerItem"><a href="http://www.linkedin.com/legal/cookie-policy?trk=hb_ft_cookie">Cookie Policy</a></li>
    	        <li  id="footerItem"><a href="http://www.linkedin.com/legal/copyright-policy?trk=hb_ft_copy">Copyright Policy</a></li>
    	        <li  id="footerItem"><a href="/psettings/guest-email-unsubscribe?trk=hb_ft_gunsub" rel="nofollow">Unsubscribe</a></li>
            </ul>
        </div>
       </div>
</footer>
  
<!--end footer-->

</body>

