#knowmore{
  
  background-color:#212F3C;
  margin-top: 30px;
  height: 80px;
  width: 100%;
  
  
}

#knowmorespan{
  color: #FDFEFE ;
  display: inline-block;
  padding: 25px 20px 50px 50px;
  padding-left: 370px;
  color: #fff;
  letter-spacing: .4px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}

#knowmorespan> i {
  font-size: 30px;
}