body {
  font-size: 16px;
  color: #FDFEFE;
  background-color: #FDFEFE;
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box;
}

.initial-loading {
  margin-top: 60px;
}

/** HEADER **/

#header-nav {
  background-color: #34495E;
  border-radius: 0;
  border: 0;
}

#logo-img {
  /*background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;*/
}
#socialLinks{
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
/*   background-image: url('logo2.png'); */
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}


#nav-list {

  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  margin-top: 0.1px;
}
#nav-list a {
  color: #85C1E9    ;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/*parallex*/

.parallax-divs div{
/*   width:100%; */
}
.bgimg-1{
    background-image: url('../images/img_parallax.jpg');
    min-height: 400px;

}
.bgimg-2{
  background-image: url('../images/img_parallax2.jpg');
  min-height: 400px;
}
.bgimg-3{
  background-image: url('../images/img_parallax3.jpg');
  min-height: 400px;
}
.bgimg-4{
  background-image: url('../images/img_parallax4-001.jpg');
  min-height: 500px;

}
.bgimg-5{
  background-image: url('../images/img_parallax8.jpg');
  min-height: 700px;
}
.bgimg-6{
  background-image: url('../images/img_parallax9.jpg');
  min-height: 900px;

}
.bgimg-7{
  background-image: url('../images/img_parallax10.jpg');
  min-height:400px;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
/*     position: relative; */
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* parallax animation scroll effect */




/* Features list*/
.features-list{
  margin-top:50px;
  margin-bottom:50px;
  margin-left:30px;
  min-height:500px;
  background-color:#183442;

}

.features-list div{
  display:block;
  box-sizing:border-box;
      padding-left: 15px;
    padding-right: 15px;
      position: relative;
}

.features-list hr{
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;


      width: 90%;
    margin: 20px auto 30px auto;
    background-color: #fff;
    height: 2px;
}

.feat-icons{
    height: 80px;
    width: auto;
    margin-bottom: 25px;
}

.feat-icons h3{

}

.features-list h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 27px;
    color: #F2F3F4 ;
}
.features-list p {
    font-size: 13px;
    line-height: 140%;
    max-width: 200px;
    margin: 0 auto 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #5f7482;
}


/* FOOTER */
.panel-footer{
	margin-top: 100px;
	padding-top: 2px;
/* 	padding-bottom: 10px; */
	border-top:0;
/* 	opacity: 0.75; */
}
#footerClass{

	background-color: #17202A  ;
}
.panel-footer p{
	text-align:center;
	color:#F0F3F4;
}
#footerList{
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;
    color: #17202A  ;
    font-weight: normal;
    display: -moz-inline-stack;
    display: inline-block;
		padding-bottom:5px;
    vertical-align: middle;
  }

#footerList>li{
    font-size: 15px;
    line-height: 14px;
    font-weight: normal;
    margin-top: 5px;
    margin-left:60px;
    margin-bottom: 5px;
    float: right;
}
#footerItem a{
  color:#F0F3F4;
}
/* END FOOTER */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  }
  /* End Header */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

  /* Footer */

  /* End Footer */



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
}
